/* market.css */

/* Target the section with class "section market" */
.section.market {
    background-color: var(--eerie-black-1);
    color: var(--white);
}

/* Adjust title-wrapper */
.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-block-end: 25px;
}

/* Adjust table class to match HTML */
.market-table {
    width: 100%;
}

/* Adjust table-row and table-heading */
.table-heading,
.table-data {
    padding: 8px;
}

.table-heading {
    font-size: var(--fs-5);
    text-align: left;
    white-space: nowrap;
}

/* Adjust other classes as needed */
.market-table .table-head {
    border-block-end: 2px solid var(--white);
}

.table-row:not(.table-title) {
    height: 90px;
}

.market-table .table-row {
    font-size: var(--fs-5);
    border-block-end: 1px solid var(--raisin-black);
    transition: var(--transition-1);
}

.market-table .table-body .table-row:is(:hover, :focus-within) {
    background-color: var(--blue-crayola_10);
}

.market-table .add-to-cart {
    color: var(--cadet-blue-crayola);
    font-size: 18px;
}

.market-table .add-to-cart.active .icon-outline,
.market-table .add-to-cart .icon-fill {
    display: none;
}

.market-table .add-to-cart .icon-outline,
.market-table .add-to-cart.active .icon-fill {
    display: block;
}

.market-table .add-to-cart.active ion-icon {
    color: var(--maximum-yellow-red);
}

.market-table .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: max-content;
}

.market-table .product-name {
    font-size: var(--fs-5);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: var(--transition-1);
}

.market-table .product-name .span {
    color: var(--roman-silver);
    font-size: var(--fs-7);
}

.market-table .product-name:is(:hover, :focus) {
    color: var(--blue-crayola);
}

.market-table :is(.price, .change, .stock) {
    font-weight: var(--fw-700);
}

.market-table .btn-outline {
    border-width: 2px;
    padding-inline: 10px;
}

.market-table .table-row:is(:hover, :focus-within) .btn-outline {
    background-color: var(--blue-crayola);
    border-color: var(--blue-crayola);
}

/* Add styles for positive and negative changes */
.positive-change {
    color: green; /* Green color for positive changes */
}

.negative-change {
    color: red; /* Red color for negative changes */
}



.table-heading {
    font-size: 1.2em; /* Increase font size */
    background-color: #f0f0f0; /* Add background color */
    color: #333; /* Set text color */
    padding: 10px; /* Add padding */
}




@media only screen and (max-width: 768px) {
    .table-heading {
        font-size: 1em; /* Reduce font size for smaller screens */
    }
}

.title-wrapper .section.market .section-title {
    text-align: center;
}

.section-title {
    text-align: center;
}